<%- include ('adminHeader') -%>
<div class="row">
    <div class="col-8 offset-2">
        <form method="post" enctype="multipart/form-data"
              action="product-edit/<%= product._id %>" class="py-5">
            <div class="row page-titles">Edit product.</div>
            <input type="hidden" value="<%= product._id %>">
            <div class="form-group">
                <label for="exampleInputEmail1">Type</label>
                <input value="<%= product.type %>" type="text" name="productType" class="form-control"
                       id="exampleInputEmail1"
                       placeholder="Product type.">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input value="<%= product.name %>" type="text" name="productName" class="form-control"
                       id="exampleInputEmail1"
                       placeholder="Product name.">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Product weight(*enter only in kg example 0.5.)</label>
                <input required type="text" value="<%= product.productWeight %>" name="productWeight"
                       class="form-control"
                       id="exampleInputEmail111"
                       placeholder="Product weight.">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Color</label>
                <input value="<%= product.colors.join('/') %>" type="text" name="productColor" class="form-control"
                       id="exampleInputEmail1"
                       placeholder="Product color.">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Sale</label>
                <input value="<%= product.sale %>" type="text" name="productSale" class="form-control"
                       id="exampleInputEmail1"
                       placeholder="Product sale.">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Product description.</label>
                <input type="text" name="productDescription" value="<%= product.description %>" class="form-control"
                       id="exampleInputEmail1"
                       placeholder="Product description.">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Count</label>
                <input value="<%= product.count %>" type="text" name="productCount" class="form-control"
                       id="exampleInputEmail1"
                       placeholder="Product count.">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Price</label>
                <input value="<%= product.price %>" type="text" name="productPrice" class="form-control"
                       id="exampleInputEmail1"
                       placeholder="Product price.">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Size</label>
                <input value="<%= product.sizes.join('/') %>" type="text" name="productSize" class="form-control"
                       id="exampleInputEmail1"
                       placeholder="Product size.">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Upload product images(*First must be choosen product type image, choosen
                    images count must be 5).</label>
                <input type="file" name="productImagesUpdate" multiple="multiple" class="form-control"
                       id="uploadImagesBySize">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Language</label>
                <select name="language">
                    <option name="eng" value=<%= product.language %> selected><%= product.language %></option>
                </select>
            </div>
            <button type="submit" class="btn btn-rose px-4 px-3 d-flex ml-auto">Save</button>
        </form>
    </div>
</div>
<%- include ('adminFooter') -%>
