<%- include ('adminHeader') -%>
<div class="row">
    <div class="col-8 offset-2">
        <form method="post" enctype="multipart/form-data" action="brand-edit/<%= brand._id %>" class="py-5">
            <div class="row page-titles">Edit Brand.</div>
            <input type="hidden" value="<%= brand._id %>">
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input value="<%= brand.name %>" type="text" name="brandName" class="form-control"
                       id="exampleInputEmail1"
                       placeholder="Brand name.">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Type</label>
                <input value="<%= brand.type %>" type="text" name="brandType" class="form-control"
                       id="exampleInputEmail1"
                       placeholder="Brand type.">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Type in Armenian</label>
                <input value="<%= brand.typeArm %>" type="text" name="brandTypeArm" class="form-control"
                       placeholder="Brand type in Armenian.">
            </div>
            <div class="form-group important">
                <label for="exampleInputEmail11">Brand registration address(*this case for count delevery, from where
                    delivary brand product.)</label><br>
                <select name="registrationAddress">
                    <option name="spain" value="spain" selected>Spain</option>
                    <option name="armenia" value="armenia">Armenia</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Info</label>
                <input value="<%= brand.info %>" type="text" name="brandInfo" class="form-control"
                       id="exampleInputEmail1"
                       placeholder="Brand info."/>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Info in Armenian</label>
                <input value="<%= brand.infoArm %>" type="text" name="brandInfoArm" class="form-control"
                       placeholder="Brand info in Armnian."/>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Upload product images(*First must be choosen product type image, choosen
                    images count must be 3).</label>
                <input type="file" name="brandImagesUpdate" multiple="multiple" class="form-control"
                       id="uploadImagesBySize">
            </div>


            <button type="submit" class="btn btn-rose px-4 px-3 d-flex ml-auto">Save</button>
        </form>
    </div>
</div>
<%- include ('adminFooter') -%>
