<%- include ('adminHeader') -%>
<table class="table table-hover" style="margin-top: 10px">
    <thead>
    <tr>
        <th id="1" role="button" scope="col">Name</th>
        <th id="2" role="button" scope="col">Address</th>
        <th id="3" role="button" scope="col">City</th>
        <th id="4" role="button" scope="col">Country</th>
        <th id="5" role="button" scope="col">Phone</th>
        <th id="6" role="button" scope="col">Date</th>
        <th id="8" role="button" scope="col">Order Id</th>
        <th id="7" role="button" scope="col">Product</th>


    </tr>
    </thead>
    <tbody id="tbody">
    <% if(shippingAddress){ %>
    <% shippingAddress.forEach((item)=>{ %>
    <tr id="<%=item._id%>">
        <td><%= item.userId.firstName+" "+item.userId.lastName %> </td>
        <td><%= item.address %> </td>
        <td><%= item.city %> </td>
        <td><%= item.country %> </td>
        <td><%= item.phone %> </td>
        <td><%= new Date(item.date).toUTCString() %> </td>
        <td><%= item._id %> </td>
        <td>
            <% item.productIds.forEach((item)=>{ %>
            <li> Count: <%= item.count %></li>
            <li> One Price: <%= item.onePrice %></li>
            <li> Pay Price: <%= item.priceSale %></li>
            <li> Name: <%= item.name %></li>
            <li> Weight: <%= item.productWeight %></li>
            <li> Registration Address: <%= item.registrationAddress %></li>
                <%if(item.size){%>
        <li><%=item.size%></li>
        <%}%>
        <%if(item.color){%>
        <%if(Array.isArray(item.color)){%>
            <li style="padding-left: 30px"><%=item.color.join()%></li>
        <%}else{%>
        <li ><%=item.color%></li>
        <%}%>
        <%}%>

            <li><img width="50px" height="50px" src="<%= item.images %>" alt=""></li>
            <% }) %>
        </td>
        <td><a onclick="deleteOrder(this)" value=<%=item._id%> type="button" class="btn btn-danger">Delete</a></td>`
        <td><a href="/admin-sendMailShipping?email=<%=item.userId.email%>&name=<%=item.userId.firstName%>" value=<%=item._id%> type="button" class="btn btn-warning">Send</a></td>`
    </tr>
    <% }) %>
    <% } %>

    </tbody>
</table>
</div>
<% if (pages > 0) { %>
    <ul id="paginationUl" class="pagination text-center">
        <% if (current == 1) { %>
            <li class="disabled"><a>First</a></li>
        <% } else { %>
            <li><a href="/shipping-address?page=1">First</a></li>
        <% } %>
        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if (i !== 1) { %>
            <li class="disabled"><a>...</a></li>
        <% } %>
        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
            <% if (i == current) { %>
                <li class="active"><a><%= i %></a></li>
            <% } else { %>
                <li><a href="/shipping-address?page=<%= i %>"><%= i %></a></li>
            <% } %>
            <% if (i == Number(current) + 4 && i < pages) { %>
                <li class="disabled"><a>...</a></li>
            <% } %>
        <% } %>
        <% if (current == pages) { %>
            <li class="disabled"><a>Last</a></li>
        <% } else { %>
            <li><a href="/shipping-address?page=<%= pages %>">Last</a></li>
        <% } %>
    </ul>
<% } %>
</div>
<style>
    #paginationUl li{
        display: inline-block;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/jquery.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>

    function deleteOrder(button) {
        const _id = button.getAttribute('value');
        $.ajax({
            url: `/order/${_id}`,
            method: 'delete',
            success: function (response) {
                document.getElementById(_id).remove();
            },
            error: function (data) {
                console.log('Product Delete failed :' + data);
            }

        });
    }
</script>
<%- include ('adminFooter') -%>

