<%- include ('header') -%>

<main style="padding-top: 100px" class="about-sections">
    <% if(pageData.length){ %>
        <section class="about-section-bg" style="background-image: url(<%= pageData[0].imagesAboutSlider[0] %>)">
            <div class="container">
                <h1 class="text-center"><%= pageData[0].textAboutSlider %></h1>
            </div>
        </section>
    <% } %>
    <section class="section py-5">
        <h2 class="text-center mb-5"><%= staticData.about_header %></h2>
        <div class="owl-slider owl-slider-about">
            <div id="carousel-about" class="owl-carousel owl-carousel-about">
                <% if(pageData.length){ %>
                    <% if(pageData[0].imagesAboutSlider.length > 0){ %>
                        <% pageData[0].imagesAboutSlider.forEach(function(item, index){ %>
                            <% if(index > 0){ %>
                                <div class="item">
                                    <img src= <%= item %> alt="">
                                </div>
                            <% } %>
                        <% }) %>
                    <% } %>
                <% } %>
            </div>
        </div>
    </section>
    <section class="section py-5">
        <div class="container">
            <h2 class="text-center mb-5"><%= staticData.about_header_second %></h2>
            <div class=" row py-4">
                <div class="offset-1 col-10 offset-lg-3 col-lg-6">
                    <p class="mb-4">
                        <% if(pageData.length){ %>
                            <%= pageData[0].ourPhilosophy %>
                        <% } %>
                    </p>
                    <a href="/contact"
                       class="btn btn-green-gradient px-5 py-3 mt-5"><%= staticData.about_button %></a>
                </div>

            </div>
        </div>
    </section>
</main>
<%- include ('footer') -%>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/jquery.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script>
    $(document).ready(function () {
        $(".owl-carousel-about").owlCarousel({
            autoplay: true,
            lazyLoad: true,
            loop: true,
            responsiveClass: true,
            autoHeight: true,
            autoplayTimeout: 7000,
            smartSpeed: 800,
            dots: true,
            nav: false,
            items: 1,
        });
    });
</script>
<script src="js/script.js"></script>

</body>
</html>