<%- include ('header') -%>
<main style="padding-top: 100px">
    <section class="blog-section py-5">
        <div class="container pt-5">
            <% if(blog.length > 0){ %>
                <% blog.forEach(function(item, index){ %>
                    <div class="row blog-card mb-5 justify-content-center">
                        <div class="col-6 col-md-5">
                            <div class="rose-bg d-flex justify-content-center align-items-center p-5 w-100 h-75">
                                <img src=<%= item.blogImages[0] %> alt="logo" class="w-100">
                            </div>
                        </div>
                        <div class="col-6 col-md-5 blog-img">
                            <img src=<%= item.blogImages[1] %> alt="" class="w-100 h-75 blog-img-anim">
                        </div>
                        <div class="col-12">
                            <h2><%= item.textBlogTitle %></h2>
                            <ul class="list-unstyled">
                                <li class="fashion-icon1"><%= item.title1 %> </li>
                                <li class="fashion-icon2"><%= item.title2 %></li>
                                <li style="display: none" id="<%= index %>"><%= item.infoBlog %></li>
                            </ul>
                            <a class="btn btn-green-gradient" onclick="isOpen(this)"
                               id="but<%= index %>">
                                <%= staticData.blog_button %>
                            </a>
                        </div>
                    </div>
                <% }) %>
            <% } %>
        </div>
    </section>
</main>
<%- include ('footer') -%>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/jquery.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script>
    function isOpen(element) {
        const seeMore = element.id.slice(3, element.id.length);
        const infoLiId = document.getElementById(seeMore);
        let lang = document.getElementById('example').value;
        if (infoLiId.style.display === 'none') {
            if (lang === 'eng') {
                document.getElementById(`but${seeMore}`).innerText = 'Close';
            } else {
                document.getElementById(`but${seeMore}`).innerText = 'Փակել';
            }
            infoLiId.style.display = 'block';
        } else {
            infoLiId.style.display = 'none';
            if (lang === 'eng') {
                document.getElementById(`but${seeMore}`).innerText = 'Read more';
            } else {
                document.getElementById(`but${seeMore}`).innerText = 'Կարդալ ավելին';
            }
        }
    }

    $(document).ready(function () {
        $("#carousel1").owlCarousel({
            autoplay: true,
            lazyLoad: true,
            loop: true,
            responsiveClass: true,
            autoHeight: true,
            autoplayTimeout: 7000,
            smartSpeed: 800,
            nav: false,
            dots: false,
            items: 1,
        });
        $("#carousel2").owlCarousel({
            autoplay: true,
            lazyLoad: true,
            loop: true,
            responsiveClass: true,
            autoHeight: true,
            autoplayTimeout: 4000,
            smartSpeed: 800,
            nav: false,
            dots: false,
            items: 5,
            margin: 40,
            responsive: {
                0: {
                    items: 1
                },

                600: {
                    items: 2
                },

                1024: {
                    items: 3
                },
                1199: {
                    items: 5
                },

                1366: {
                    items: 5
                }
            }
        });
    });
</script>
<script src="js/script.js"></script>

</body>
</html>


