<footer class="footer-bg p-3 py-lg-5">
    <div class="container container-1730">
        <div class="row flex-wrap align-items-center">
            <% if(staticData){ %>
                <div class="col-12 offset-sm-2 col-sm-8">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h4 class="mb-3">
                                <%= staticData.pages %>
                            </h4>
                            <ul class="list-unstyled links-for-pages">
                                <li class="<%= URL === '/delevry' ? 'active' : '' %>">
                                    <a href="/delevry">
                                        <%= staticData.delevery_returns %>
                                    </a>
                                </li>
                                <li class="<%= URL === '/privacyPolicy' ? 'active' : '' %>">
                                    <a href="/privacyPolicy">
                                        <%= staticData.privacy_policy %>
                                    </a>
                                </li>
                                <li class="<%= URL === '/termAndConditions' ? 'active' : '' %>">
                                    <a href="/termAndConditions">
                                        <%= staticData.terms_conditions %>
                                    </a>
                                </li>
                                <li class="<%= URL === '/about' ? 'active' : '' %>">
                                    <a href="/about">
                                        <%= staticData.about %>
                                    </a>
                                </li>
                                <li class="<%= URL === '/contact' ? 'active' : '' %>">
                                    <a href="/contact">
                                        <%= staticData.contact %>
                                    </a>
                                </li>
                                <li class="<%= URL === '/join-our-team' ? 'active' : '' %>">
                                    <a href="/join-our-team">
                                        <%= staticData.join_our_team %>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-6">
                            <h4 class="mb-3">
                                <%= staticData.follow_us %>
                            </h4>
                            <div class="mb-5">
                                <ul class="list-unstyled d-flex">
                                    <li class="mr-4">
                                        <a href="https://www.instagram.com/armatconcept/?fbclid=IwAR3WjE1AkSLPkLrvmkswZC5lv7zmPimoY_Umppy9b2It10kEHCzxjumuXC4" target="_blank">
                                            <img src="images/insta-icon.png" alt="">
                                        </a>
                                    </li>
                                    <li class="mr-4">
                                        <a href="https://www.facebook.com/Armat-Concept-103054195109823" target="_blank">
                                            <img src="images/face-icon.png" alt="">
                                        </a>
                                    </li>
                                    <li class="mr-3">
                                        <a href="https://www.youtube.com/channel/UC9dyYzPCUFoDNCt50eezaug" target="_blank">
                                            <img src="images/youtube-icon.png" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <ul class="list-unstyled d-flex flex-wrap" style="max-width: 260px">
                                    <li class="mr-2 mb-1">
                                        <a href="#">
                                            <img src="images/icons/credit_card_maestro_payment_method_icon_134922.ico" alt="" width="50" height="50">
                                        </a>
                                    </li>
                                    <li class="mr-2 mb-1">
                                        <a href="#">
                                            <img src="images/icons/credit_card_visa_payment_method_icon_134914.ico" alt="" width="50" height="50">
                                        </a>
                                    </li>
                                    <li class="mr-2 mb-1" style="margin-top: 9px">
                                        <a href="#">
                                            <img src="images/icons/paypal_payment_method_card_icon_142733.ico" alt="" width="50" height="31">
                                        </a>
                                    </li>
                                      <li class="mr-2 mb-1" style="margin-top: 9px">
                                        <a href="#">
                                            <img src="images/icons/mastercard_payment_method_card_icon_142734.ico" alt="" width="50" height="31">
                                        </a>
                                    </li>
                                      <li class="mr-2 mb-1">
                                        <a href="#">
                                            <img src="images/icons/amex_payment_method_card_icon_142744.ico" alt="" width="50" height="31">
                                        </a>
                                    </li>
                                    <li class="mr-2 mb-1">
                                        <a href="#">
                                            <img width="54px" height="32px" src="images/google-pay.png" alt="">
                                        </a>
                                    </li> <li class="mr-2 mb-1">
                                        <a href="#">
                                            <img width="48px" height="32px" src="images/Microsoft_Pay-Logo.wine.png" alt="">
                                        </a>
                                    </li> <li class="mr-2 mb-1">
                                        <a href="#">
                                            <img src="images/icons/apple_pay_logo_icon_145487.ico" alt="" width="50" height="36">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="text-center position-relative mt-2 mt-md-5">
            <p class="mb-0">© 2021 Armat Concept</p>
            <div class="abs">
                <a class="scrollup" style="cursor: pointer">
                    <img src="images/buttonUp.png" alt="button" title="button">
                </a>
            </div>
        </div>
    </div>
</footer>
<script>
    $(document).ready(function () {
        $(".modal.fade").click(function () {
            $(".modal.fade").removeClass('show');
            $(".modal-backdrop.fade").removeClass('show');
            $("this").addClass('show');
        });
        $('.scrollup').click(function () {
            // переместиться в верхнюю часть страницы
            $("html, body").animate({
                scrollTop: 0
            }, 1000);
        })
    })
    $('#closemodal').click(function () {
        $('#loginModal').modal('hide');
    });
</script>
