<%- include ('header') -%>
<main style="padding-top: 100px;">
    <div id="forgotPassword" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <%if(staticData){%>
    <div class="modal-content">
        <div class="modal-header rose-bg">
            <h5 class="modal-title"><%=staticData.forgot_header%></h5>
        </div>
        <div class="modal-body">
            <%- include ('partials/messages') %>
            <form action="/forgotPassword" method="post" class="offset-1 col-10">
                <p><%=staticData.forgot_text%></p>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="label"><%=staticData.forgot_email%></label>
                    <input required  name='email' type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="<%=staticData.forgot_email%>">
                </div>
                <div class="w-100 d-flex justify-content-between mt-4">
                    <a href="/login" class="btn-green-gradient-border mr-2"><%=staticData.forgot_left_button%></a>
                   <button type="submit"  data-toggle="modal" data-target="#resetPasswordModal" class="btn btn-green-gradient ml-2 open-reset-pass"><%=staticData.forgot_right_button%></button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="d-flex justify-content-center mt-4 fs-14 w-100">
                <%=staticData.forgot_footer_text%>
                <a href="/signup"  class="ml-2 open-reg"><%=staticData.forgot_footer_button%></a>
            </div>
        </div>
    </div>
        <%}%>
    </div>
</main>
<script src="js/bootstrap/bootstrap.min.js"></script>

<%- include ('footer') -%>
