<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Armat Concept
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/range.css">
    <link rel="stylesheet" href="css/jq-ui.css">
    <link rel="stylesheet" href="css/owl-carousel-min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/jq-ui.css">
</head>
<body>

<header class="fixed-top header-bg">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light py-0">
            <a class="navbar-brand mr-2 mr-xl-5 header-logo" href="/">
                <div class="d-flex flex-column logoStyles">
                    <span>Armat</span>
                    <span class="pl-3">Concept</span>
                </div>
            </a>
            <div class="d-block d-xl-none d-lg-none ml-auto">
                <ul class="navbar-nav d-flex flex-row  align-items-center ">
                    <li class="d-flex mr-4">
                        <div class="icon-search-container" data-ic-class="search-trigger">
                            <span class="fa fa-search"></span>
                            <input type="text" class="search-input" data-ic-class="search-input" placeholder="Search"/>
                            <span class="fa fa-times-circle" data-ic-class="search-clear"></span>
                        </div>
                    </li>
                    <li class="nav-item mr-2 mr-xl-4 d-block d-xl-none d-lg-none position-relative">
                        <span id="shoppingCardNumberS" class="cart-products-count">0</span>
                        <a onclick="goToSelectedPage(this)" class="nav-link" id="shoppingCardS"><i
                                    class="fa fa-cart-arrow-down"></i></a>
                    </li>
                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <% if(staticData){ %>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="<%= URL === '/' ? 'navbar-item mx-2 active' : 'navbar-item mx-2' %>">
                            <a class="nav-link" href="/">
                                <%= staticData.home %>
                                <% if(URL === '/'){ %>
                                    <span class="sr-only">(current)</span>
                                <% } %>
                            </a>
                        </li>

                        <li class="<%= URL === '/shop' ? 'navbar-item mx-2 active' : 'navbar-item mx-2' %>">
                            <a class="nav-link" href="/shop">
                                <%= staticData.shop %>
                                <% if(URL === '/shop'){ %>
                                    <span class="sr-only">(current)</span>
                                <% } %>
                            </a>
                        </li>
                        <li class="<%= URL === '/brand' ? 'navbar-item mx-2 active' : 'navbar-item mx-2' %>">
                            <a class="nav-link" href="/brand">
                                <%= staticData.brands %>
                                <% if(URL === '/brand'){ %>
                                    <span class="sr-only">(current)</span>
                                <% } %>
                            </a>
                        <li class="<%= URL === '/blog' ? 'navbar-item mx-2 active' : 'navbar-item mx-2' %>">
                            <a class="nav-link" href="/blog">
                                <%= staticData.blog %>
                                <% if(URL === '/blog'){ %>
                                    <span class="sr-only">(current)</span>
                                <% } %>
                            </a>
                        </li>
                        <% if(user && user.roleType === 'admin'){ %>
                            <li class="<%= URL === '/admin-home' ? 'navbar-item mx-2 active' : 'navbar-item mx-2' %>">
                                <a class="nav-link" href="/admin-home">
                                    <%= staticData.dashboard %>
                                    <% if(URL === '/admin-home'){ %>
                                        <span class="sr-only">(current)</span>
                                    <% } %>
                                </a>
                            </li>
                        <% } %>
                    </ul>
                    <div class="d-flex ml-auto">
                        <ul class="navbar-nav align-items-lg-center pl-2 pl-lg-0 flex-wrap">
                            <li class=" mr-4 d-none d-md-none d-xl-block d-lg-block ">
                                <div class="d-flex">
                                    <div class="icon-search-container" data-ic-class="search-trigger">
                                        <span class="fa fa-search"></span>
                                        <input id="search-input" type="text" class="search-input"
                                               data-ic-class="search-input"
                                               placeholder="Search"/>
                                        <span class="fa fa-times-circle" data-ic-class="search-clear"></span>
                                        <div id='search-div' data-ic-class="search-div">

                                        </div>
                                    </div>
                                </div>

                                <% if(!user){ %>
                            <li class="nav-item mr-2 mr-xl-4">
                                <a href='/login' class="nav-link" type="button">
                                    <%= staticData.login %>
                                </a>
                            </li>
                            <li class="nav-item mr-2 mr-xl-4">
                                <a href="/signup" class="nav-link" type="button">
                                    <%= staticData.signup %>
                                </a>
                            </li>

                            <% }else { %>
                                <li class="nav-item mr-2 mr-xl-4"
                                    firstName=<%= user.firstName %>
                                    lastName=<%= user.lastName %>
                                    email=<%= user.email %>
                                    id="logOut">
                                    <a onclick="userLogOut(this)" class="nav-link" type="button">
                                        <%= staticData.logOut %>
                                    </a>
                                </li>
                                <li class="nav-item mr-2 mr-xl-4" id="avatar">
                                    <img style="
                                      border-radius: 50%;
                                    border:2px solid silver;
                                    cursor:pointer;" src=<%= user.avatar %> height="50" alt="?">
                                </li>
                            <% } %>
                            <li class="nav-item mr-2 mr-xl-4 d-none d-xl-block d-lg-block position-relative">
                                <span id="shoppingCardNumber" class="cart-products-count">0</span>
                                <a onclick="goToSelectedPage(this)" class="nav-link" id="shoppingCard"><i
                                            class="fa fa-cart-arrow-down"></i></a>
                            </li>
                            <li class="nav-item dropdown">

                                <select class="example" name="example" id="example">
                                    <% if(staticData.language === 'eng' ){ %>
                                        <option name="eng" value="eng" selected>Eng</option>
                                        <option name="ru" value="ru">Ru</option>
                                    <% }else if(staticData.language === 'ru'){ %>
                                        <option name="eng" value="eng">Eng</option>
                                        <option name="ru" value="ru" selected>Ru</option>
                                    <% }else if(staticData.language === 'spain'){ %>
                                        <option name="eng" value="eng">Eng</option>
                                        <option name="ru" value="ru" selected>Ru</option>
                                    <% } %>
                                </select>
                            </li>

                        </ul>
                    </div>
                </div>
            <% } %>
        </nav>
    </div>
</header>


<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous"></script>
<script>
    let logOut = document.getElementById('logOut');
    if (logOut) {
        let user = {
            firstName: logOut.getAttribute('firstName'),
            lastName: logOut.getAttribute('lastName'),
            email: logOut.getAttribute('email'),
        }
        localStorage.setItem('user', JSON.stringify(user));
        logOut.getAttribute('firstName');
        logOut.getAttribute('lastName');
        logOut.getAttribute('email');
    } else {
        localStorage.removeItem('user');
    }

    function userLogOut(element) {
        localStorage.clear('user');
        element.setAttribute('href', '/logout');
    }

    function goToSelectedPage(element) {
        let basket ;
            if(element.id === 'shoppingCard'){
                basket = document.getElementById('shoppingCard');
            }else {
                basket = document.getElementById('shoppingCardS');
            }
        const local = JSON.parse(localStorage.getItem('shoppingCard'));
        if (local && local.length) {
            basket.setAttribute('href', '/selectedProducts');
        }
    };

    function gup(name, url) {
        if (!url) url = location.href;
        name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var regexS = "[\\?&]" + name + "=([^&#]*)";
        var regex = new RegExp(regexS);
        var results = regex.exec(url);
        return results == null ? null : results[1];
    }


    $(function () {

        document.getElementById('example').addEventListener('change', function () {
            console.log('You selected: ', this.value);
            const obj = {
                language: this.value,
            }
            localStorage.removeItem('shoppingCard');
            localStorage.removeItem('order');
            $.ajax({
                    url: '/change-language',
                    method: 'post',
                    data: obj,
                    success: function () {
                        window.location.reload(1);
                        location.replace("http://localhost:3000/")
                    },
                    error: function (data) {
                        console.log('User creation failed :' + data);
                    }
                });
        });
        let searchValue;
        var typingTimer;                //timer identifier
        var doneTypingInterval = 1000;  //time in ms, 5 second for example
        var $input = $('#search-input');
        //on keyup, start the countdown
        $input.on('keyup', function () {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(doneTyping, doneTypingInterval);
        });

        //on keydown, clear the countdown
        $input.on('keydown', function () {
            clearTimeout(typingTimer);
        });

        function doneTyping() {
            let obj = {
                search: $input.val()
            }
            $.ajax({
                url: '/search',
                method: 'post',
                data: obj,
                success: function (response) {
                    $('#search-div').html("");
                    const {brands, products} = response.results;
                    let div = document.createElement(`div`);
                    $('#search-div').append(div);
                    if (brands.length) {
                        brands.forEach(function (item) {
                            let a = document.createElement(`a`);
                            a.href = `shop?brandName=${item.name}`
                            a.innerHTML = `${item.name} <br/>`;
                            div.append(a);
                        })
                    }
                    if (products.length) {
                        products.forEach(function (item) {
                            let a = document.createElement(`a`);
                            a.href = `shop?type=${item.type}`
                            a.innerHTML = `${item.name}  <br/>`;
                            div.append(a);
                        })
                    }

                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
    });

</script>

