<%-include ('header')-%>

<main  style="padding-top: 100px" class="contact-section">
    <section class="join-section-bg">
        <div class="container">
            <h1 class="text-center"><%=staticData.join_our_team%></h1>
        </div>
    </section>
    <section class="section py-5">
        <div class="container container-1730">
            <h2 class="text-center mb-5 "><%=staticData.join_header%></h2>
            <div class="row mb-5 justify-content-between">
                <div class="col-12 col-md-3">
                    <div class="title">1 <%=staticData.join_section%></div>
                    <div class="text">
                        <% if(joinOurTeam){%>
                          <%=joinOurTeam.joinOurCol1Text%>
                        <%}%>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="title">2 <%=staticData.join_section%></div>
                    <div class="text">
                        <% if(joinOurTeam){%>
                        <%=joinOurTeam.joinOurCol2Text%>
                        <%}%>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="title">3 <%=staticData.join_section%></div>
                    <div class="text">
                        <% if(joinOurTeam){%>
                        <%=joinOurTeam.joinOurCol3Text%>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row justify-content-between align-items-center flex-wrap py-5 px-md-5 my-5">
                <div class="col-12 col-md-7 ">
                    <h2 class="mb-5 "><%=staticData.join_header_second%></h2>
                    <div class="pr-5">
                        <div class="info-text mb-5 mb-md-0">
                            <% if(joinOurTeam){%>
                            <%=joinOurTeam.joinOurTeamPartners%>
                            <%}%>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5 ">
                    <div class="rose-border">
                        <% if(joinOurTeam){%>
                        <img src="<%=joinOurTeam.imagesJoinOurTeamSlider[0]%>" alt="" class="brand-img">
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%-include ('footer')-%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/jquery.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/script.js"></script>

</body>
</html>