<%- include ('header') -%>
<main style="padding-top: 100px" class="product-section">
    <div class="container my-5">
        <div class="row">
            <% if(product.length){ %>
                <% if(product[0].images.length){ %>
                    <div class="col-12 col-md-7">
                        <div class="row justify-content-between">
                            <div class="col-2 col-md-3 col-lg-2">
                                <div class="mb-2 small-images">
                                    <img src="<%= product[0].images[1] %>" alt="" class="w-100">
                                </div>
                                <div class="mb-2 small-images">
                                    <img src="<%= product[0].images[2] %>" alt="" class="w-100">
                                </div>
                                <div class="mb-2 small-images">
                                    <img src="<%= product[0].images[3] %>" alt="" class="w-100">
                                </div>
                            </div>
                            <div class="col-8 col-md-9 col-lg-10">
                                <img src="<%= product[0].images[0] %>" alt="" class="w-100">
                            </div>
                        </div>
                    </div>
                <% } %>
                <div class="col-12 col-md-5">
                    <div class="product-name">
                        <h2 class="mb-2"><%= product[0].name %></h2>
                    </div>
                    <div class="d-flex">
                        <div class="product-price mr-4" id="productPrice" value="<%= product[0].price %>">
                            <% if(product[0].sale){ %>
                                <h2 style="text-decoration: line-through"><b id="pricePlace"><%= product[0].price %>
                                        €</b>
                                </h2>
                            <% }else{ %>
                                <h2><b id="pricePlace"><%= product[0].price %>€</b></h2>
                            <% } %>
                        </div>
                        <% if(product[0].sale){ %>
                            <div class="product-price" id="productSalePrice" value="<%= product[0].sale %>">
                                <h5 id="saleValue"> <%= product[0].price - product[0].price * product[0].sale / 100 %>
                                    €</h5>
                            </div>
                        <% } %>
                    </div>
                    <% if(product[0].sizes[0] != ''){ %>
                        <div class="product-size">
                            <h5>Size</h5>
                            <ul class="list-unstyled d-flex align-items-center" id="productSizesDiv"
                                value=<%= product[0].sizes %>>
                                <% if(product[0].sizes){ %>
                                    <% product[0].sizes.forEach(function(item){ %>
                                        <div class="mr-2">
                                            <input type="radio" name="productSize" id=<%= item %>>
                                                <%= item %>
                                            </input>
                                        </div>
                                    <% }) %>
                                <% } %>
                            </ul>
                        </div>
                    <% } %>
                    <% if(product[0].colors[0] != ''){ %>
                        <div class="product-color" id="productColorDiv" value=<%= product[0].colors %>>
                            <h5>Color</h5>
                            <ul class="list-unstyled d-flex align-items-center">
                                <% if(product[0].colors){ %>
                                    <% product[0].colors.forEach(function(item){ %>
                                        <div class="mr-2 d-flex align-items-center">
                                            <input type="radio" name="productColor" id=<%= item %>>
                                            <!--                                            <%= item %>-->
                                            <div style="background-color:<%= item %>" class="px-3 py-2 ml-1"></div>
                                            </input>
                                        </div>
                                    <% }) %>
                                <% } %>
                            </ul>
                        </div>
                    <% } %>
                    <div class="product-count">
                        <h5>Count of product</h5>
                        <div class="qtySelector text-center">
                            <i class="fa fa-minus decreaseQty" id="'fa-minus" onclick="countPrice(this)"></i>
                            <input type="text" disabled id="qtyValueProduct" class="qtyValue" value="1"/>
                            <i class="fa fa-plus increaseQty" id="fa-plus" onclick="countPrice(this)"></i>
                        </div>
                    </div>
                    <!--                    Start change from this-->
                    <% if(product[0].description != ''){ %>
                        <div class="product-size">
                            <h5>Description</h5>
                            <div><%= product[0].description %></div>
                        </div>
                    <% } %>
                    <!--                  End here-->

                    <div class="col-8 my-3 p-0">
                        <button value="<%= product[0]._id %>" id="addToCardButton"
                                class="btn btn-green-gradient py-3"
                                onclick="addToCard(this)">
                            ADD TO CART
                        </button>
                    </div>
                </div>
            <% } %>
        </div>
    </div>

</main>
<%- include ('footer') -%>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/jquery.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 500,
            values: [75, 300],
            slide: function (event, ui) {
                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $("#amount").val("$" + $("#slider-range").slider("values", 0) +
            " - $" + $("#slider-range").slider("values", 1));
    });
</script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/script.js"></script>
<script>
    function countPrice(element) {
        let count = Number(document.getElementById('qtyValueProduct').value);
        let productPrice = document.getElementById('productPrice').getAttribute('value');
        let productSalePrice;
        if (!document.getElementById('productSalePrice')) {
            productSalePrice = 0
        } else {
            productSalePrice = document.getElementById('productSalePrice').getAttribute('value');
        }

        if (element.id === 'fa-plus') {
            count++;
        } else {
            count--;
        }
        if (count > 0) {
            let payPrice = Number(productPrice) * count;
            let payPriceSale = Number(productPrice) - Number(productSalePrice) * Number(productPrice) / 100;
            payPriceSale *= count;
            document.getElementById('pricePlace').innerHTML = `${payPrice}€`;
            if (document.getElementById('saleValue')) {
                document.getElementById('saleValue').innerHTML = `${payPriceSale.toFixed(1)}€`;
            }
        }
    }

    function addToCard(id) {
        //start check product exist or not
        const product = {
            productCount: document.getElementById('qtyValueProduct').value,
            productId: id.value,
        }
        const language = document.getElementById('example').value;
        let productSize;
        let productColor;
        console.log( document.getElementById('example').value);
        let Cardlocal = JSON.parse(localStorage.getItem('shoppingCard'));
        if (document.querySelector('input[name="productSize"]:checked'))
            productSize = document.querySelector('input[name="productSize"]:checked').id;
        if (document.querySelector('input[name="productColor"]:checked'))
            productColor = document.querySelector('input[name="productColor"]:checked').id;

        if (!document.querySelector('input[name="productSize"]:checked') && document.querySelector('input[name="productSize"]')) {
            if(document.getElementById('example').value === 'eng'){
                alert('Choose product size.');
            }else{
                alert('Խնդրում ենք ընտրել ձեր ապրանքատեսակի չափը')
            }
        } else if (!document.querySelector('input[name="productColor"]:checked') && document.querySelector('input[name="productColor"]')) {
            if(document.getElementById('example').value === 'eng'){
                alert('Select product color.');
            }else{
                alert('Խնդրում ենք ընտրել ձեր ապրանքատեսակի գույնը')
            }

        } else if (Cardlocal && Cardlocal.find(x => id.value === x.productId)) {
            alert('Sorry but product is already added');
        } else {
            $.ajax({
                type: 'post',
                url: '/product-by-id',
                data: product,
                success: (response) => {
                    if (response.message && response.error) {
                        alert(`${response.message}`);
                    } else {
                        let shoppingCard = Number(document.getElementById('shoppingCardNumber').innerHTML) || Number(document.getElementById('shoppingCardNumberS').innerHTML);
                        shoppingCard++;
                        const productCount = Number(document.getElementById('qtyValueProduct').value);
                        if (Cardlocal && Cardlocal.length) {
                            document.getElementById('addToCardButton').innerHTML = 'Added';
                            document.getElementById('addToCardButton').classList.remove('btn-green-gradient');
                            document.getElementById('addToCardButton').classList.add('btn-dark');
                            setTimeout(() => {
                                document.getElementById('addToCardButton').innerHTML = 'Add To Card';
                                document.getElementById('addToCardButton').classList.add('btn-green-gradient');
                            }, 1000)
                            document.getElementById('shoppingCardNumber').innerHTML = `${shoppingCard}`;
                            document.getElementById('shoppingCardNumberS').innerHTML = `${shoppingCard}`;
                            Cardlocal.push({
                                productId: id.value,
                                size: productSize,
                                color: productColor,
                                count: productCount,
                                existProductCount: response.results.count,
                                language: language
                            });
                            Cardlocal = JSON.stringify(Cardlocal);
                            localStorage.setItem('shoppingCard', Cardlocal);
                        } else {
                            document.getElementById('shoppingCardNumber').innerHTML = `${shoppingCard}`;
                            document.getElementById('shoppingCardNumberS').innerHTML = `${shoppingCard}`;
                            document.getElementById('addToCardButton').innerHTML = 'Added';
                            document.getElementById('addToCardButton').classList.remove('btn-green-gradient');
                            document.getElementById('addToCardButton').classList.add('btn-dark');
                            setTimeout(() => {
                                document.getElementById('addToCardButton').innerHTML = 'Add To Card';
                                document.getElementById('addToCardButton').classList.add('btn-green-gradient');
                            }, 500)
                            let array = [];
                            array.push({
                                productId: id.value,
                                size: productSize,
                                color: productColor,
                                count: productCount,
                                existProductCount: response.results.count,
                                language: language
                            });
                            array = JSON.stringify(array);
                            localStorage.setItem('shoppingCard', array);
                        }
                    }
                }
            })
        }

    }

</script>

</body>
</html>
