<%- include ('header') -%>

<main style="padding-top: 100px" class="selected-product-section">
    <div class="container container-1730 my-5">
        <h2 class="my-4"><b><%= staticData.selected_products %></b></h2>
        <div id="message_div"><%- include ('partials/messages') %></div>
        <div class="shop-check d-flex ml-3">
            <div class="form-group mr-2">
                <input onclick="selectAll(this)" type="checkbox" id="select-all">
                <label for="select-all" class=""><%= staticData.select_all %></label>
            </div>
        </div>
        <div class="row">
            <div id="shoppingCardDiv" class="col-12 col-md-7 col-lg-8">


            </div>
            <div class="col-12 col-md-5 col-lg-4">
                <div class="total-section pt-5">
                    <div class="mb-3 d-flex justify-content-between">
                        <h2 class="title"><b><%= staticData.subtotal %></b></h2>
                        <div class="product-price">
                            <h2 id="total" style="color: #065a1f"><b>0 </b></h2>
                        </div>
                    </div>
                    <div class="mb-3 d-flex justify-content-between">
                        <div><%= staticData.quantity %> <span id="countProduct">0</span></div>
                        <div id="productStartPrice" style="text-decoration: line-through;">0</div>
                    </div>
                    <div class="mb-3 d-flex justify-content-between">
                        <div><%= staticData.you_save %></div>
                        <div id="afterSale">0</div>
                    </div>
                    <div class="mb-3 d-flex justify-content-between">
                        <div><%= staticData.order_shipping %></div>
                        <div><%= staticData.order_shipping_text %></div>
                    </div>
                    <div class="my-4">
                        <a onclick="sendData()" id="shippingPage" class="btn btn-green-gradient mb-3"
                           style="font-size: 18px; color: #fff; text-transform: capitalize"><%= staticData.checkout_button %></a>
                        <div class="shop-check d-flex justify-content-center">
                            <div class="form-group mr-2">
                                <input type="checkbox" id="agreeTerms">
                                <label for="agreeTerms" class=""><%= staticData.i_agree_to_the_website %> <a
                                            href="/termAndConditions"><%= staticData.terms_conditions %> </a> & <a
                                            href="/privacyPolicy"><%= staticData.delevery_returns %></a></label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
<%- include ('footer') -%>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/jquery.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 500,
            values: [75, 300],
            slide: function (event, ui) {
                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $("#amount").val("$" + $("#slider-range").slider("values", 0) +
            " - $" + $("#slider-range").slider("values", 1));
    });
</script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/script.js"></script>
<script>
    if (document.getElementById('message_div').innerHTML.length > 4) {
        localStorage.removeItem('shoppingCard');
        localStorage.removeItem('shippingAddress');
    }

    const shoppingCard = JSON.parse(localStorage.getItem('shoppingCard'));
    if (shoppingCard) {
        let currentDiv = document.getElementById('shoppingCardDiv');
        let array = []
        shoppingCard.forEach((item) => {
            array.push(item.productId)
        })
        $.ajax({
            type: 'post',
            url: '/product-by-id',
            data: {shoppingCard: array},
            success: (response) => {
                const language = document.getElementById('example').value === 'eng' ? true : false;
                if (response.results.length) {
                    response.results.forEach(function (item) {
                        if (!item.sale) {
                            item.sale = 0;
                        }
                        let newDiv = document.createElement('div');
                        currentDiv.append(newDiv);
                        newDiv.setAttribute('class', 'selected-product-cart');
                        newDiv.id = item._id;
                        newDiv.innerHTML = `
                    <div  class="shop-check d-flex flex-1 mb-2 mb-md-0">
                        <div class="form-group mr-2">
                            <input onclick="checkFluency(this)" _id='${item._id}' type="checkbox" id="${language ? item.name : item.nameArm}" value="${(Number(item.price) - (Number(item.price) * Number(item.sale)) / 100) * Number(shoppingCard[shoppingCard.findIndex(x => x.productId == `${item._id}`)].count)}">
                            <label for="${language ? item.name : item.nameArm}" class=""></label>
                        </div>
                        <div class="img-area mx-2 mx-md-5">
                            <img id='productImage${item._id}' src="${item.images[0]}" alt="" class="w-100">
                        </div>
                        <div>
                            <div id='productName${item._id}' productWeight='${item.productWeight}' registrationAddress='${item.brandId.registrationAddress}' class="product-name">${language ? item.name : item.nameArm}</div>
                            <div class="product-color my-2 py-3" style="background-color: ${shoppingCard[shoppingCard.findIndex(x => x.productId == `${item._id}`)].color || ''}"></div>
                            <div id='div1' class="product-size">${shoppingCard[shoppingCard.findIndex(x => x.productId == `${item._id}`)].size || ''}</div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-1 justify-content-around">
                         <div class="product-count mx-3">
                            <div class="qtySelector text-center">
                                <i onclick="countPriceForBasket(this)" id="faMinu${item._id}" class="fa fa-minus decreaseQty" ></i>
                                <input type="text" class="qtyValue" disabled id="qtyInput${item._id}" value="${shoppingCard[shoppingCard.findIndex(x => x.productId == `${item._id}`)].count}" />
                                <i onclick="countPriceForBasket(this)"  id="faPlus${item._id}" class="fa fa-plus increaseQty"></i>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div  id="productPriceBasket${item._id}" value=${item.price}  style="text-decoration: line-through" class="product-price mr-3">${Number(shoppingCard[shoppingCard.findIndex(x => x.productId == `${item._id}`)].count) * Number(item.price)}€</div>
                            <div style="display: none"  id="saleProductPrice${item._id}" value=${item.sale} class="product-price" >${((Number(item.price) - (Number(item.price) * (Number(item.sale))) / 100) * Number(shoppingCard[shoppingCard.findIndex(x => x.productId == `${item._id}`)].count)).toFixed(2)}€</div>

                        </div>
                    </div>
                        <div style="display:none;"    id='name${item._id}' >${item.name}</div>
                        <div style="display:none;"    id='nameArm${item._id}' >${item.nameArm}</div>
                     <div class="d-flex justify-content-end abs">
                        <button value="${item._id}" class="btn btn-danger py-1 br-0" onclick="deleteProduct(this)" type="submit">x</button>
                    </div>
               `
                        if (item.sale) {
                            document.getElementById(`saleProductPrice${item._id}`).style.display = 'block';
                        }
                        if (!item.sale) {
                            document.getElementById(`productPriceBasket${item._id}`).removeAttribute('style');
                        }
                    })
                }
            },
            error: (e) => {
                 console.log(e)
            }
        })
    }


    function checkFluency() {
        let productStartPrice = document.getElementById('productStartPrice');
        let countProduct = document.getElementById('countProduct');
        let afterSale = document.getElementById('afterSale');
        if ($('input[type=checkbox]').is(':checked')) {
            let sum = 0;
            let productCount = 0;
            let productPrice = 0;
            let productSalePrice = 0;
            let countOfBasketCheckedProducts = 0;
            $.each($('input:checked'), function (index, input) {
                if (input.id !== 'select-all' && input.id !== "agreeTerms") {
                    countOfBasketCheckedProducts++;
                    const _id = input.getAttribute('_id')
                    let value = document.getElementById(`saleProductPrice${_id}`).innerHTML;
                    value = value.substring(0, value.length - 1);
                    sum += Number(value);
                    productCount += Number(document.getElementById(`qtyInput${_id}`).getAttribute('value'))
                    let template = document.getElementById(`productPriceBasket${_id}`).innerHTML;
                    let afterSale = document.getElementById(`saleProductPrice${_id}`).innerHTML;

                    productPrice += Number(template.substring(0, template.length - 1))
                    productSalePrice += Number(afterSale.substring(0, afterSale.length - 1));
                }
                if (input.id === "agreeTerms") {
                    document.getElementById("agreeTerms").checked = false;
                }
            });
            if (countOfBasketCheckedProducts !== JSON.parse(localStorage.getItem('shoppingCard')).length) {
                document.getElementById('select-all').checked = false;
            } else {
                document.getElementById('select-all').checked = true;
            }
            if (sum) {
                countProduct.innerHTML = `${productCount}`;
                productStartPrice.innerHTML = `${productPrice}€`
                afterSale.innerHTML = `${Number(productPrice - productSalePrice).toFixed(2)}€`;
                document.getElementById('total').innerHTML = sum.toFixed(2) + '€';
            } else {
                countProduct.innerHTML = '0';
                productStartPrice.innerHTML = '0';
                afterSale.innerHTML = '0';
                document.getElementById('total').innerHTML = '0';
            }
        } else {
            countProduct.innerHTML = '0';
            productStartPrice.innerHTML = '0';
            afterSale.innerHTML = '0';
            document.getElementById('total').innerHTML = '0';
        }

    }

    function deleteProduct(button) {
        document.getElementById(button.value).remove();
        let local = JSON.parse(localStorage.getItem('shoppingCard'));
        local = local.filter(item => item.productId != button.value);
        localStorage.setItem('shoppingCard', JSON.stringify(local));
        document.getElementById('shoppingCardNumber').innerHTML = local.length;
        document.getElementById('shoppingCardNumberS').innerHTML = local.length;
        checkFluency();
    }

    function sendData() {
        const agreeTerms = document.getElementById('agreeTerms').checked;
        const count = Number(document.getElementById('countProduct').innerHTML);
        let lang = document.getElementById('example').value;

        if (!agreeTerms || !count) {
            document.getElementById('shippingPage').removeAttribute('href');
            if (!count) {
                if (lang === 'eng') {
                    alert('Please select product!.');
                } else {
                    alert('Խնդրում ենք ընտրել ապրանքը:');
                }
            } else if (!agreeTerms) {
                if (lang === 'eng') {
                    alert('Are you agree to the website Terms & Conditions & Privacy Policy?');
                } else {
                    alert('Համաձայն եմ Կայքի Ընդհանուր Պայմանների և դրույթների ու Գաղտնիության  Քաղաքականության հետ:');
                }
            }
        } else if (!localStorage.getItem('user')) {
            if (lang === 'eng') {
                alert('Please login for continue to shipping.');
            } else {
                alert('Խնդրում ենք մուտք գործել ՝ առաքումը շարունակելու համար:');
            }
        } else {

            var values = [];
            if ($('input[type=checkbox]').is(':checked')) {
                $.each($('input:checked'), function (index, input) {
                    if (input.getAttribute('id') !== 'agreeTerms' && input.getAttribute('id') !== 'select-all') {
                        const id = input.getAttribute('_id');
                        let price = document.getElementById(`saleProductPrice${id}`).innerHTML;
                        let count = document.getElementById(`qtyInput${id}`).getAttribute('value');
                        price = (Number(price.substring(0, price.length - 1)) / Number(count)).toString();
                        let obj = {
                            productId: id,
                            onePrice: price,
                            count: count,
                            price: document.getElementById(`productPriceBasket${id}`).innerHTML,
                            priceSale: document.getElementById(`saleProductPrice${id}`).innerHTML,
                            images: document.getElementById(`productImage${id}`).getAttribute('src'),
                            name: document.getElementById(`name${id}`).innerHTML,
                            nameArm: document.getElementById(`nameArm${id}`).innerHTML,
                            registrationAddress: document.getElementById(`productName${id}`).getAttribute('registrationAddress'),
                            productWeight: document.getElementById(`productName${id}`).getAttribute('productWeight'),
                        }
                        values.push(obj);
                    }
                });
                localStorage.setItem('order', JSON.stringify(values));
                document.getElementById('shippingPage').setAttribute('href', '/shipping');
            }
        }
    }

    window.onload = function () {
        localStorage.removeItem('order');
    }

    function countPriceForBasket(element) {
        let shoppingCard = JSON.parse(localStorage.getItem('shoppingCard'));
        const id = element.id.substring(6, element.id.length);
        let basketProductCount = Number(document.getElementById(`qtyInput${id}`).getAttribute('value'));

        //pay for order
        let productCount = 0;
        let productPrice = 0;
        let productSalePrice = 0;
        const productStartPrice = document.getElementById('productStartPrice');
        const countProduct = document.getElementById('countProduct');
        const afterSale = document.getElementById('afterSale');
        //end
        if (element.id.substring(0, 6) === 'faMinu' && Number(basketProductCount) >= 2) {
            basketProductCount--;
        } else if (element.id.substring(0, 6) === 'faPlus') {
            basketProductCount++;
        }

        let notExist = true;
        shoppingCard.forEach((item) => {
            if (id === item.productId) {
                if (basketProductCount > item.existProductCount) {
                    item.count = item.existProductCount;
                    if (document.getElementById('example').value === 'eng') {
                        alert(`Out of Stock.`);
                    } else {
                        alert(`Առկա չէ պահեստում:`);
                    }
                    notExist = false;
                } else {
                    item.count = basketProductCount;
                }
            }
        })
        localStorage.setItem('shoppingCard', JSON.stringify(shoppingCard));
        if (notExist) {
            document.getElementById(`qtyInput${id}`).setAttribute('value', `${basketProductCount}`);
            const price = Number(basketProductCount) * Number(document.getElementById(`productPriceBasket${id}`).getAttribute('value'));
            const saleCount = price - (price * Number(document.getElementById(`saleProductPrice${id}`).getAttribute('value')) / 100);
            document.getElementById(`saleProductPrice${id}`).innerHTML = `${saleCount}€`;
            document.getElementById(`productPriceBasket${id}`).innerHTML = `${price}€`;
            let sum = 0;
            $.each($('input:checked'), function (index, input) {
                if (input.id != 'select-all' && input.id != "agreeTerms") {
                    const _id = input.getAttribute('_id')
                    let value = document.getElementById(`saleProductPrice${_id}`).innerHTML;
                    value = value.substring(0, value.length - 1);
                    sum += Number(value);
                    productCount += Number(document.getElementById(`qtyInput${_id}`).getAttribute('value'))
                    let template = document.getElementById(`productPriceBasket${_id}`).innerHTML;
                    let afterSale = document.getElementById(`saleProductPrice${_id}`).innerHTML;
                    productPrice += Number(template.substring(0, template.length - 1))
                    productSalePrice += Number(afterSale.substring(0, afterSale.length - 1));
                }
            });
            if (sum) {
                countProduct.innerHTML = `${productCount}`;
                productStartPrice.innerHTML = `${productPrice}€`
                afterSale.innerHTML = `${Number(productPrice - productSalePrice).toFixed(2)}€`;
                document.getElementById('total').innerHTML = `${sum.toFixed(2)}€`;
            } else {
                countProduct.innerHTML = `0`;
                productStartPrice.innerHTML = `0`
                afterSale.innerHTML = `0`;
                document.getElementById('total').innerHTML = '0';
            }
        }
    }

    function selectAll(element) {
        if (element.checked) {
            // Iterate each checkbox
            $(':checkbox').each(function () {
                this.checked = true;
            });
            checkFluency();
        } else {
            $(':checkbox').each(function () {
                this.checked = false;
            });
            checkFluency();
        }
    }

    $('#agreeTerms').on('click', (element) => {
        if (!element.checked) {
            element.checked = true;
        } else {
            element.checked = false;
        }
    });
</script>

</body>
</html>
