<%- include ('header') -%>
<main style="padding-top: 100px;">
    <div class="container mt-5">
        <div class="row inform py-5">
            <div class="col-12 col-md-7 col-lg-7">
                <h3 class="mb-5"><%= staticData.contact_information %></h3>
                <form method="POST" action="/checkouts" id="payForm">
                    <%- include ('partials/messages') -%>
                    <h5 class="mb-2"><%= staticData.email_address %></h5>
                    <div class="form-group">
                        <input required type="email" class="form-control" id="shippingAddressEmail">
                    </div>
                    <h5 class="mb-2"><%= staticData.shipping_address %></h5>
                    <div class="d-flex justify-content-between">
                        <div class="form-group mr-1">
                            <input required type="text" class="form-control" id="firstName">
                        </div>
                        <div class="form-group ml-1">
                            <input required type="text" class="form-control" id="lastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <input required type="text" class="form-control" value="" id="address"
                               placeholder="<%= staticData.address %>">
                    </div>
                    <div class="form-group">
                        <input required type="text" class="form-control" value="" id="apartment"
                               placeholder="<%= staticData.apartment %>">
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="form-group mr-1">
                            <input required type="text" class="form-control" value="" id="postalCode"
                                   placeholder="<%= staticData.postal_code %>">
                        </div>
                        <div class="form-group ml-1">
                            <input required type="text" class="form-control" value="" id="city"
                                   placeholder="<%= staticData.city %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <select required id="selectCountry" onchange="handleSelectChange()" name="country"
                                class="form-control">
                            <option selected="selected"
                                    value="<%= staticData.country_region %>"><%= staticData.country_region %></option>
                            <option value="USA">USA</option>
                            <option value="Canada">Canada</option>
                            <option value="Austria">Austria</option>
                            <option value="Belgium">Belgium</option>
                            <option value="Bulgaria">Bulgaria</option>
                            <option value="Croatia"> Croatia</option>
                            <option value="Cyprus"> Cyprus</option>
                            <option value="Czech Republic"> Czech Republic</option>
                            <option value="Denmark">Denmark</option>
                            <option value="Estonia"> Estonia</option>
                            <option value="Finland">Finland</option>
                            <option value="France">France</option>
                            <option value="Germany">Germany</option>
                            <option value="Greece">Greece</option>
                            <option value="Hungary">Hungary</option>
                            <option value="Ireland">Ireland</option>
                            <option value="Italy">Italy</option>
                            <option value="Latvia">Latvia</option>
                            <option value="Lithuania">Lithuania</option>
                            <option value="Luxembourg">Luxembourg</option>
                            <option value="Malta">Malta</option>
                            <option value="Lalov">Lalov</option>
                            <option value="Netherlands">Netherlands</option>
                            <option value="Spain">Spain</option>
                            <option value="Sweden">Sweden</option>
                            <option value="Switzerland">Switzerland</option>
                            <option value="Serbia">Serbia</option>
                            <option value="Norway">Norway</option>
                            <option value="Bosnia and Herzegovina"> Bosnia and Herzegovina</option>
                            <option value="Albania">Albania</option>
                            <option value="Montenegro"> Montenegro</option>
                            <option value="Iceland">Iceland</option>
                            <option value="Andorra">Andorra</option>
                            <option value="Monaco">Monaco</option>
                            <option value="Vatican">Vatican</option>
                            <option value="Liechtenstein">Liechtenstein</option>
                            <option value="San Marino"> San Marino</option>
                            <option value="Macedonia">Macedonia</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input required type="number" class="form-control" value="" id="phone"
                               placeholder="<%= staticData.phone %>">
                    </div>
                    <input name="order" type="hidden" id="orderProducts">
                    <input name="shippingAddress" type="hidden" id="shippingAddress">
                    <button class="btn-green-gradient mb-3" style="height: 50px; width: 300px; border-radius:5px"
                            onclick="handleOrderAddress(this)">
                        <%= staticData.continue_to_shipping %>
                    </button>
                </form>
            </div>
            <div class="col-12 col-md-5 col-lg-5 total-info">
                <div class="total-section" id='currentDiv'>
                    <hr>
                    <div class="d-flex">
                    </div>
                    <hr>
                    <div>
                        <div class="mb-3 d-flex justify-content-between">
                            <div><%= staticData.you_save %></div>
                            <div id="salePrice"></div>
                        </div>
                        <div class="mb-3 d-flex justify-content-between">
                            <div><%= staticData.delivery %></div>
                            <div id="delivery">0</div>
                        </div>
                    </div>
                    <div class="mb-3 d-flex justify-content-between">
                        <h2 class="title"><b><%= staticData.total %></b></h2>
                        <div class="product-price">
                            <h2 style="color: #065a1f"><b id="productPrice"></b></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/jquery.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/script.js"></script>
<script>

    function handleSelectChange() {
        const order = JSON.parse(localStorage.getItem('order'));
        let productTotalPrice = 0
        if (order && order.length) {
            order.forEach((item) => {
                let priceAfterSale = Number(item.priceSale.substring(0, item.priceSale.length - 1));
                productTotalPrice += priceAfterSale;
            })
        }
        let totalPrice = productTotalPrice;
        let country = document.getElementById("selectCountry").value;
        if (country !== 'Country/Region') {
            let priceDelivery = 0;
            let productsDeliveryFromArmeniaWeight = 0;
            let productsDeliveryFromSpainWeight = 0;
            const orderArray = JSON.parse(localStorage.getItem('order'));
            orderArray.forEach((item) => {
                if (item.registrationAddress === 'armenia') {
                    productsDeliveryFromArmeniaWeight += Number(item.productWeight);
                } else {
                    productsDeliveryFromSpainWeight += Number(item.productWeight);
                }
            });
            //Armenian registration
            if (productsDeliveryFromArmeniaWeight){
                if (country === 'France') {
                    if (productsDeliveryFromArmeniaWeight && productsDeliveryFromArmeniaWeight <= 0.25) {
                        priceDelivery += 10.7;
                    } else if (productsDeliveryFromArmeniaWeight && productsDeliveryFromArmeniaWeight > 0.25 && productsDeliveryFromArmeniaWeight <= 1) {
                        priceDelivery += 16.7;
                    } else if (productsDeliveryFromArmeniaWeight > 1 && productsDeliveryFromArmeniaWeight <= 2) {
                        priceDelivery += 21.7;
                    } else {
                        priceDelivery += Math.floor((productsDeliveryFromArmeniaWeight - 2)) * 5.5 + 21.7;
                    }
                } else if (country === 'USA' || country ==='Canada') {
                    if (productsDeliveryFromArmeniaWeight && productsDeliveryFromArmeniaWeight <= 0.5) {
                        priceDelivery += 15.7;
                    } else if (productsDeliveryFromArmeniaWeight && productsDeliveryFromArmeniaWeight > 0.5 &&  productsDeliveryFromArmeniaWeight <= 1) {
                        priceDelivery += 24.7;
                    } else if (productsDeliveryFromArmeniaWeight && productsDeliveryFromArmeniaWeight > 1 &&  productsDeliveryFromArmeniaWeight <= 2) {
                        priceDelivery += 25.7;
                    } else {
                        priceDelivery += Math.floor((productsDeliveryFromArmeniaWeight - 2)) * 6.5 + 25.7;
                    }
                } else {
                    if (productsDeliveryFromArmeniaWeight && productsDeliveryFromArmeniaWeight <= 0.25) {
                        priceDelivery += 10.7;
                    } else if (productsDeliveryFromArmeniaWeight && productsDeliveryFromArmeniaWeight > 0.25 && productsDeliveryFromArmeniaWeight <= 0.5) {
                        priceDelivery += 16.7;
                    } else if (productsDeliveryFromArmeniaWeight && productsDeliveryFromArmeniaWeight > 0.5 && productsDeliveryFromArmeniaWeight <= 1) {
                        priceDelivery += 24.7;
                    } else if (productsDeliveryFromArmeniaWeight > 1 && productsDeliveryFromArmeniaWeight <= 2) {
                        priceDelivery += 25.7;
                    } else {
                        priceDelivery += Math.floor((productsDeliveryFromArmeniaWeight - 2)) * 6.5 + 25.7;
                    }
                }
            }
            if(productsDeliveryFromSpainWeight){
                //Spain registration
                if (country === 'Spain') {
                    if (productsDeliveryFromSpainWeight && productsDeliveryFromSpainWeight <= 2) {
                        priceDelivery += 6.5;
                    } else {
                        priceDelivery += Math.floor((productsDeliveryFromSpainWeight - 2)) * 0.5 + 6.5;
                    }
                } else if (country === 'USA' || country ==='Canada') {
                    if (productsDeliveryFromSpainWeight && productsDeliveryFromSpainWeight <= 0.5) {
                        priceDelivery += 15.7;
                    } else if (productsDeliveryFromSpainWeight && productsDeliveryFromSpainWeight > 0.5 && productsDeliveryFromSpainWeight <= 1) {
                        priceDelivery += 26.7;
                    } else if (productsDeliveryFromSpainWeight && productsDeliveryFromSpainWeight > 1 && productsDeliveryFromSpainWeight <= 2) {
                        priceDelivery += 46.2;
                    } else {
                        priceDelivery += Math.floor((productsDeliveryFromSpainWeight - 2)) * 10 + 46.2;
                    }
                } else {
                    if (productsDeliveryFromSpainWeight && productsDeliveryFromSpainWeight <= 0.5) {
                        priceDelivery += 11.7;
                    } else if (productsDeliveryFromSpainWeight && productsDeliveryFromSpainWeight > 0.5 && productsDeliveryFromSpainWeight <= 1) {
                        priceDelivery += 17.7;
                    } else if (productsDeliveryFromSpainWeight && productsDeliveryFromSpainWeight > 1 && productsDeliveryFromSpainWeight <= 2) {
                        priceDelivery += 35.2;
                    } else {
                        priceDelivery += Math.floor((productsDeliveryFromSpainWeight - 2)) * 4 + 35.2;
                    }
                }
            }

            document.getElementById('delivery').innerHTML = `${priceDelivery%1==0?priceDelivery:priceDelivery.toFixed(2)}€`
            document.getElementById('productPrice').innerHTML = `${Number(totalPrice + priceDelivery)%1==0?(totalPrice + priceDelivery):(totalPrice + priceDelivery).toFixed(2)}€`
        } else {
            document.getElementById('productPrice').innerHTML = `${totalPrice%1==0?totalPrice:totalPrice.toFixed(2)}€`
            document.getElementById('delivery').innerHTML = `${0}€`
        }
    }

    function handleOrderAddress() {
        let country = $("#selectCountry").val();
        if (country === 'Country/Region' || country === 'Երկիր/տարածաշրջան') {
            document.getElementById('delivery').innerHTML = '0';
            if (document.getElementById('example').value === 'eng') {
                alert('Please select country/region.');
            } else {
                alert('Խնդրում ենք ընտրել երկիրը / տարածաշրջանը:');
            }
        } else {
            let address = document.getElementById('address');
            let apartment = document.getElementById('apartment');
            let postalCode = document.getElementById('postalCode');
            let city = document.getElementById('city');
            const phone = document.getElementById('phone');
            let totalDelivery = document.getElementById('delivery').innerHTML;
            totalDelivery = Number(totalDelivery.substring(0, totalDelivery.length - 1));
            const newObj = {
                address: address.value,
                apartment: apartment.value,
                postalCode: postalCode.value,
                city: city.value,
                country: country,
                deliveryPrice: totalDelivery,
                phone: phone.value,
            }
            const shippingAddress = JSON.stringify(newObj);
            localStorage.setItem('shippingAddress', shippingAddress);
            const order = localStorage.getItem('order');
            //shippingAddress
            document.getElementById('orderProducts').setAttribute('value', order);
            document.getElementById('shippingAddress').setAttribute('value', shippingAddress);
        }
    }

    window.onload = () => {
        const shippingAddressEmail = document.getElementById('shippingAddressEmail');
        const firstNameElement = document.getElementById('firstName');
        const lastNameElement = document.getElementById('lastName');
        const {firstName, lastName, email} = JSON.parse(localStorage.getItem('user'));
        shippingAddressEmail.setAttribute('placeholder', email);
        shippingAddressEmail.disabled = true;
        firstNameElement.setAttribute('placeholder', firstName);
        firstNameElement.disabled = true;
        lastNameElement.setAttribute('placeholder', lastName);
        lastNameElement.disabled = true;

        //==> this part i add in my window on load function
        let productTotalPrice = 0;
        let productSalePrice = 0;
        const salePrice = document.getElementById('salePrice');
        const productPrice = document.getElementById('productPrice');

        const order = JSON.parse(localStorage.getItem('order'));
        const shoppingCard = JSON.parse(localStorage.getItem('shoppingCard'));
        if (order && order.length) {
            order.forEach((item) => {
                let priceAfterSale = Number(item.priceSale.substring(0, item.priceSale.length - 1));
                let allPrice = Number(item.price.substring(0, item.price.length - 1));
                productTotalPrice += priceAfterSale;
                productSalePrice += allPrice;

                let div = document.createElement('div');
                currentDiv.prepend(div);
                div.setAttribute('class', 'd-flex');
                const size = shoppingCard[shoppingCard.findIndex(x => x.productId == `${item.productId}`)].size?true:false;
                const language = document.getElementById('example').value === 'eng'?true:false;
                const color = shoppingCard[shoppingCard.findIndex(x => x.productId == `${item.productId}`)].color?true:false;
                const COLOR = shoppingCard[shoppingCard.findIndex(x => x.productId == `${item.productId}`)].color
                let colorPak3
                let colorPak6
                if(Array.isArray(COLOR)){
                    if(COLOR.length === 3){
                        colorPak3 = COLOR
                    }else{
                        colorPak6 = COLOR
                    }
                }
                div.innerHTML = `
                        <div class="img-area">
                            <img src="${item.images}" alt="">
                            </div>
                        <div>
                            <h5>${language?item.name:item.nameArm}</h5>
                            <div class="d-flex align-items-center" id='colorDiv${item._id}'>



                        <span>${size?shoppingCard[shoppingCard.findIndex(x => x.productId == `${item.productId}`)].size:''}</span>
                         <span id='line12' class="mx-1"></span>
                      </div>
                        </div>
                        <div id='div3${item._id}' class="price ml-auto" style="text-decoration: line-through;">${item.price} </div>
                        <div id='div4${item._id}' class="price ml-auto">${item.priceSale} </div>
`
                if(colorPak3){
                    for(let i=0;i<3;i++){
                        let div = document.createElement('span');
                        div.setAttribute('class',`px-3 py-2 ml-1 div2${item._id}`);
                        div.style.display = 'inline-block'
                        div.style.backgroundColor = `${colorPak3[i]}`
                        document.getElementById(`colorDiv${item._id}`).append(div);
                    }

                }else
                if(colorPak6){
                    for(let i=0;i<6;i++){
                        let div = document.createElement('span');
                        div.setAttribute('class',`px-3 py-2 ml-1 div2${item._id}`);
                        div.style.display = 'inline-block'
                        div.style.backgroundColor = `${colorPak6[i]}`
                        document.getElementById(`colorDiv${item._id}`).append(div);
                    }

                }else
                {

                    let div = document.createElement('span');
                    div.setAttribute('class',`px-3 py-2 ml-1 div2${item._id}`);
                    div.style.display = 'inline-block'
                    div.style.backgroundColor = COLOR
                    document.getElementById(`colorDiv${item._id}`).append(div);


                }
                if(size && color && COLOR.length){
                    document.getElementById('line12').innerHTML = '/';
                }
                if(Number(item.priceSale.substring(0,item.priceSale.length-1)) === (Number(item.price.substring(0,item.price.length-1)))){
                    document.getElementById(`div3${item._id}`).remove();
                }
            })

            salePrice.innerHTML = `-${Number(productSalePrice - productTotalPrice)%1==0?(productSalePrice - productTotalPrice):(productSalePrice - productTotalPrice).toFixed(2)}€`;
            productPrice.innerHTML = `${Number(productTotalPrice)%1==0?productTotalPrice:productTotalPrice.toFixed(2)}€`;
        }
        //clear shipping address when page is refresh
    }
</script>
<%- include ('footer') -%>




