<%- include ('header') -%>
<main class="shop-section">
    <% if(pageData.length){ %>
        <section class="shop-section-bg" style="background-image: url(<%= pageData[0].imagesShopSlider[0] %>)">
            <div class="container">
                <h1 class="text-left"><%= pageData[0].textShopSlider %></h1>
            </div>
        </section>
    <% } %>
    <div class="container-fluid pt-5 mt-5">
        <div class="row py-5">
            <div class="col-md-5 col-lg-4 col-xl-3 col-12">
                <div class="sidebar px-3">
                    <form action="#">
                        <div class="sidebar-title"><%= staticData.shop_product_page %></div>
                        <div class="scrollbar shop-page-scroll">
                            <div class="force-overflow" id="productType" value=<%= type %>>
                                <ul class="list-unstyled px-4 mb-5">
                                    <form action="">

                                        <% if(productsType.length){ %>
                                            <% productsType.forEach(function(item){ %>

                                                <li class="form-group">
                                                    <% if(item === type){ %>
                                                        <input checked type="checkbox" id="<%= item %>"
                                                               value=<%= item %>>
                                                        <label for="<%= item %>"
                                                               class="clothing-icon"><%= item %></label>
                                                    <% }else{ %>
                                                        <input type="checkbox" id="<%= item %>"
                                                               value=<%= item %>>
                                                        <label for="<%= item %>"
                                                               class="clothing-icon"><%= item %></label>
                                                    <% } %>
                                                </li>
                                            <% }) %>
                                        <% } %>
                                    </form>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-title"><%= staticData.shop_search %></div>
                        <div class="shop-search mb-5">
                            <input value="" type="search" class="form-control "
                                   placeholder="<%= staticData.shop_search %>">
                        </div>
                        <div class="sidebar-title"><%= staticData.shop_sale %></div>
                        <div class="px-4 mb-5">
                            <div class="form-group">
                                <input type="checkbox" id="sale">
                                <label  for="sale" style="text-transform: capitalize"><%= staticData.shop_sale %>
                                    (<%=countSale%>)</label>
                            </div>
                        </div>
                        <div class="sidebar-title"><%= staticData.shop_price %></div>
                        <div class="mb-5 d-flex flex-column">
                            <div class="d-flex align-items-center mb-5">
                                <input type="number" min="0" max="<%= maxPrice %>" id='priceFrom'
                                       value="0"
                                       class="form-control range-slide-input"/>
                                <span class="px-2 fs-12"><%= staticData.to_text %></span>
                                <input type="number" min="0" max="<%= maxPrice %>" id='priceTo'
                                       value="<%= maxPrice %>"
                                       class="form-control range-slide-input"/>
                                <button class="btn-rose border-0 px-3 py-1 ml-2"
                                        onclick="searchByPrice()"><%= staticData.find %></button>
                            </div>
                            <div style="display: none;" id="price-div-message"></div>
                            <div class="price-range-slider" id="price-range-slider" value="<%= maxPrice %>">
                                <p class="range-value">
                                    <input type="text" id="amount"/>
                                </p>
                                <div id="slider-range" class="range-bar"></div>
                            </div>
                        </div>
                        <div class="sidebar-title "><%= staticData.shop_brand %></div>
                        <div class="px-4 mb-5">
                            <div class="scrollbar shop-page-scroll">
                                <div class="force-overflow">
                                    <% if(brands.length){ %>
                                        <% brands.forEach(function(item){ %>
                                            <div class="form-group">
                                                <% if(brandId === item._id.toString()){ %>
                                                    <input checked type="checkbox"
                                                           id=<%= item._id %> value="<%= item._id %>">
                                                    <label for="<%= item._id %>"><%= item.name %></label>
                                                <% }else{ %>
                                                    <input type="checkbox"
                                                           id="<%= item._id %>" value="<%= item._id %>">
                                                    <label for="<%= item._id %>"><%= item.name %></label>
                                                <% } %>
                                            </div>
                                        <% }) %>
                                    <% } %>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-7 col-lg-8 col-xl-9 col-12">
                <div class="row d-flex justify-content-between" id="shopFilter">
                </div>
                <div class="mb-5 d-flex justify-content-end px-md-5">
                    <div class="pagination" id="pagination-place">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include ('footer') -%>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/jquery.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        const maxPrice = document.getElementById('price-range-slider').getAttribute('value');
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: maxPrice,
            values: [0, maxPrice],
            slide: function (event, ui) {
                $("#amount").val("€" + ui.values[0] + " - €" + ui.values[1]);
                $("#priceFrom").val(ui.values[0]);
                $("#priceTo").val(ui.values[1]);
            }
        });
        $("#amount").val("€" + $("#slider-range").slider("values", 0) +
            " - €" + $("#slider-range").slider("values", 1));
    });
    $('#priceFrom').on('input', function () {
        document.getElementById('priceFrom').setAttribute('max', `${$("#priceTo").val()}`);
        $("#slider-range").slider('values', 0, $(this).val());
        $("#amount").val("€" + $("#slider-range").slider("values", 0) +
            " - €" + $("#slider-range").slider("values", 1));
    });

    $('#priceTo').on('input', function () {
        document.getElementById('priceTo').setAttribute('min', `${$("#priceFrom").val()}`)
        $("#slider-range").slider('values', 1, $(this).val());
        $("#amount").val("€" + $("#slider-range").slider("values", 0) +
            " - €" + $("#slider-range").slider("values", 1));
    });

</script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script>
    $(document).ready(function () {
        $("#carousel1").owlCarousel({
            autoplay: true,
            lazyLoad: true,
            loop: true,
            responsiveClass: true,
            autoHeight: true,
            autoplayTimeout: 7000,
            smartSpeed: 800,
            nav: false,
            dots: false,
            items: 1,
        });
        $("#carousel2").owlCarousel({
            autoplay: true,
            lazyLoad: true,
            loop: true,
            responsiveClass: true,
            autoHeight: true,
            autoplayTimeout: 4000,
            smartSpeed: 800,
            nav: false,
            dots: false,
            items: 5,
            margin: 40,
            responsive: {
                0: {
                    items: 1
                },

                600: {
                    items: 2
                },

                1024: {
                    items: 3
                },
                1199: {
                    items: 5
                },

                1366: {
                    items: 5
                }
            }
        });
    });
</script>
<script src="js/script.js"></script>
<script src='js/shop.js'></script>

</body>
</html>


